<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>INapppurchase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E575BA2B3C03820072B4CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E575D02B3C03860072B4CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E575DA2B3C03860072B4CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
